<html lang="en">
    <%- include('./header.ejs') %>

    <body>
        <%- include('./navBar.ejs') %>
        <div class="">
            <h2>Oops! Missing content 404</h2>
        </div>
    </body>
</html>