<html lang="en">
    <body>
        <%- include('./header.ejs') %>

        <%- include('./navBar.ejs') %>

        <div class="">
            <h2>Internal Server Error 503</h2>
        </div>
    </body>
</html>