
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <Title>Happy Restaurant</Title>
  <link rel="stylesheet" href="/styles.css">
</head>
<div class="header"><img src="/header.png" alt="Restaurant Logo" width="100%" ></div>
<body>

</body>
</html>