<html lang = "en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
  <%- include('./header.ejs') %>

  <body>
    <%- include('./navBar.ejs') %>
    <h2>The Happy Restaurant Order Management System</h2>
    <p>This site includes all staff, order, and supply information. Navigate to change staff information, update orders, and manage supply levels.</p>
  </body>
</html>